<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BacterialBlight</title>
    <link rel="stylesheet" href="diseases.css">
</head>
<body>
    <!-- 此页为白叶枯病 -->
    <h4>白叶枯病（Bacterial Blight）</h4>
    <h5 class="DiseasesTitle">中文名及别名</h5>
    <p class="article">水稻白叶枯病俗称着凤、过火风、白叶瘟、茅草瘟等</p>
    <h5 class="DiseasesTitle">发病部位</h5>
    <p class="article">主要位于叶片，也可侵染叶鞘，常见于水稻叶片边缘、水稻叶尖、水稻茎基部、水稻根部等</p>
    <h5 class="DiseasesTitle">发病类型</h5>
    <p class="article">叶缘型、青枯型</p>
    <h5 class="DiseasesTitle">发病特征</h5>
    <ol class="article">
        <li>病斑短条状，多发生于中、下部叶片的尖端和边缘，形小而狭，黄褐色，扩展后成长条斑，与成株期相似，仅程度较轻。在中国海南岛等地，还有卷叶青枯雕萎而死，或表现生长不良</li>
        <li>叶缘型：是最常见的典型病斑。
            发病先从叶尖或叶缘开始，初为暗绿色水渍状短侵染线，很快变成暗褐色，然后在侵染线周围形成淡黄白色病斑，继续扩展，沿叶缘两侧或中肋向上下延伸，转为黄褐色，最后呈枯白色。
            症状常因品种而异，籼稻病斑多为橙黄色，粳稻病斑多为灰褐色。
            病斑边缘有时呈不规则的波纹状，与健部界限明显。
            另外在病斑发展的先端还有黄绿相间的断续条斑，也有的在分界处显示暗绿色变色部分。
            这些特征都与机械损伤戍生理因素造成的叶端枯白有区别
        </li>
        <li>
            急性型：常见病斑。
            主要发生于多肥栽培、易感品种或温湿度极有利于病害发展时。
            病叶灰绿色，迅速失水，向内侧卷曲，呈青枯状，多见于叶片的上部，不蔓延到全株。
            此种症状出现，表示病害正在急剧发展。
        </li>
        <li>
            凋萎型（又称枯心型）:1963年湖南首先观察到这种症状，近年来逐渐增多。
            经湖南试验证明是系统侵染的结果。
            多见于杂优系统及一些高感品种，常在移栽后20-25天发生。
            分蘖期的典型症状，是失水、青干、皱缩、卷曲。1穴（丛）内，有时主茎或者2个以上分蘖同时发病，心叶失水青枯，随即雕萎而死，其余叶片也朱后青干卷曲，然后全株枯死；
            也有的仅心叶枯死，其他叶片仍能正常生长；也有先从下部叶片开始发病，再向上部 叶片扩展，与因螟害造成的枯心苗极为相似，但基部无虫蛀孔。
            解剖病株，在病叶的叶鞘基部，特别是连接假茎的近水面部位，常呈黄褐色病变，自外而内逐步入侵。当假茎受到严重侵染时，茎节部位变褐色。
            剥开病叶， 切断病节或病叶鞘， 用手挤压， 可溢出大量黄色菌脓。
            切片镜检，也可见到病组织的维管束内充满细菌。
            严重病田的生育后期，除有雕萎枯心外，还可出现因茎节受害或剑叶枯死而引起与螟害近似的“枯孕穗”或“白穗”
        </li>
        <li>
            中脉型：湖南首先观察到的一种系统侵染症状。
            水稻自分蘖期或孕穗期起，在剑叶或其下1、2叶，少数在3叶的中脉中部开始表现淡黄色症状。
            病叶两侧有时互相折叠。病斑沿中脉逐渐往上、下延伸，可上达叶尖，下至叶鞘，并向全株扩展成为中心病株。
            此种病株常未抽穗即死去
        </li>
        <li>
            黄化型：是不常出现的一种症状。
            初期心叶并不枯死，可以平展或部分平展，其上常有不规则形褪绿斑，进而发展为枯黄的或大块的病斑。
            病叶基部偶有水渍状断续的小条斑出现，可检查到病菌
        </li>
    </ol>
    <h5 class="DiseasesTitle">发病条件</h5>
    <p class="article">
        带菌种子、带病稻草和残留田间的病株稻桩是主要初侵染源。
        李氏禾等田边杂草也能传病。
        细菌在种子内越冬，播后由叶片水孔、伤口侵入，形成中心病株，病株上有菌脓溢出，借风雨、露水、灌水、昆虫、人为等因素传播。
        病菌借灌溉水、风雨传播，低洼积水、雨涝以及灌漫灌可引起连片发病。晨露未干病田操作造成带菌扩散
    </p>
    <ol class="article">
        <li>
            发病与气候条件的关系:
            高温、高湿、大风暴雨是白叶枯病流行的气候条件。
            田间气温在17℃即开始发病，26～30℃为发病盛期，潜伏期短，病菌侵入至症状表现只需3～5天左右，再侵染次数增多，
            低于17℃和高于35℃的连续低温和高温则不会发病，相对湿度90%以上，有利于菌源侵染寄主
        </li>
        <li>
            发病与品种抗病性及生育期的关系:
            一般糯稻最抗病，粳稻比籼稻抗病，高秆窄叶品种比矮秆阔叶品种抗病，耐肥品种比不耐肥品种抗病，叶面水孔少的品种比叶面水孔多的品种抗病，而种植感病品种更易流行成灾。
            同一品种苗期到分蘖期较抗病，分蘖末期抗病力下降，孕穗期易感病，抽穗期最易感病
        </li>
        <li>
            发病与栽培技术的关系:
            凡施用氮肥过多、过迟、过于集中，特别是穗肥施用不当，使植株疯长，株行间密蔽，通风透光不良，叶片浓绿柔嫩，植株的抗病力就会减弱。
            受水淹比不受水淹发病重。
            大田串灌、漫灌都能直接促使病害传播,长期浸泡在深水中的稻株，对发病影响更大，这主要是田间湿度大，有利于病菌繁殖侵染，深灌并能增加土壤有毒 物质的积累，促使稻株抗病力下降，拔节后深灌发病更严重。
        </li>
    </ol>
    <h5 class="DiseasesTitle">防治方法</h5>
    <p class="article">
        防治白叶枯病必须以抗病良种为基础，杜绝病菌来源为前提，秧苗防治为关键，肥水管理为重点，在初发病期施药防治为辅助的综合措施
    </p>
    <ol class="article">
        <li>加强植物检疫。禁止随意调运种子，不要从病区引种。引种时要严格地进行种子检验</li>
        <li>
            选用抗病品种。
            推广种植抗病良种是防治水稻白叶枯病最有效的措施。
            在水稻白叶枯病发病流行区，要因地制宜地选育推广抗（耐）病品种，及时淘汰高感品种，加强品种轮换，避免单一品种的长期种植，导致品种抗性的退化和丧失，引发病害的流行。
            从品种类型看，一般糯稻抗性最强，粳稻次之，籼稻最弱
        </li>
        <li>
            开展种子消毒。
            种子带菌是白叶枯病发生传播的主要途径之一。
            种子消毒可选用85%三氯异氰尿酸（强氯精）300~500倍液，或45%代森铵水剂500倍液等，浸种12~24h，浸种后洗净再催芽播种
        </li>
        <li>
            清除病残体。
            水稻白叶枯病可以在稻种、稻草和稻桩上越冬，老病区以病稻草传病为主。
            水稻收获后，病稻草、病稻桩以及田边杂草应及时清除，不能直接还田。
            不用病稻草覆盖秧苗，不用病稻草捆秧，以防病菌传入秧田，带入大田。
            对带病田块，可深耕灭茬，有条件的可实行水旱轮作，以降低菌源
        </li>
        <li>
            培育无病状秧。
            秧田应选择地势高，无病，排灌方便，远离稻草堆、打谷场和晒场地，连作晚稻秧田还应远离早稻病田。
            在秧田期要防止淹水，切勿串灌、灌深水
        </li>
        <li>
            加强肥水管理。
            健全排灌系统，实行排灌分家，不准串灌、漫灌，严防涝害；按叶色变化科学用肥，配方施肥，使禾苗稳生稳长，壮而不过旺、绿而不贪青。
            在施肥方面，要配方施肥，施足底肥，多施有机肥和磷钾肥，避免偏施迟施氮肥，防止贪青徒长，使禾苗稳生稳长，壮而不过旺、绿而不贪青。
            在水的管控方面，要平整田地，避免低洼积水；要浅水勤灌，适时适度晒田，防止串灌、漫灌，注意及时排涝
        </li>
        <li>
            适时药剂防治。
            加强田间病情监测，做到“早预防、早发现、早防治”，封锁或铲除发病株和发病中心。
            秧田在秧苗3叶期及拔秧前3-5天用药；大田在水稻分蘖期及孕穗期的初发阶段，气候有利于发病时，特别是出现病斑，应立即施药防治。
            药剂每667平方米可选用20％噻菌铜悬浮剂（龙克菌）100-120克，或20%噻唑锌悬浮剂120mL，或20%叶枯唑（叶青双）可湿性粉剂100克，或20%噻森铜悬浮剂120-130克，兑水50千克喷雾防治。
            一般情况需连续用药2次，即7天后再施药1 次，可取得较好的防治效果
        </li>
    </ol>
    <h5 class="DiseasesTitle">图例</h5>
    <ul class="article">
        <li><img src="" class="picture"></li>
    </ul>
    <h5>参考资料</h5>
    <ul>
        <li><a href="https://baike.baidu.com/item/水稻白叶枯病/2825312" target="_blank">百度百科：水稻白叶枯病</a></li>
        <li><a href="http://www.hnppi.cn/web/hnzbzj/9838/9915/content_299874.html"  target="_blank">湖南省植保知识与技术查询系统</a></li>
        <li><a href="https://www.kepuchina.cn/more/201608/t20160831_40222.shtml"  target="_blank">科普中国</a></li>
    </ul>
</body>
</html>