<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hispa</title>
</head>
<body>
    <h4>稻铁甲虫（Dicladispa armigera）</h4>
    <h5 class="DiseasesTitle">中文名及别名</h5>
    <p class="article">稻铁甲虫、硬壳虫</p>
    <h5 class="DiseasesTitle">发病部位</h5>
    <p class="article">主要为叶片</p>
    <h5 class="DiseasesTitle">发病特征</h5>
    <ol class="article">
        <li>稻铁甲虫成虫啮食叶肉组织,残留叶脉和下表皮,被害叶片呈现白色条斑</li>
        <li>幼虫潜蛀入叶片组织中取食叶肉,起初呈红色斑点,逐渐扩大呈红褐色,透光能见幼虫,后期仅留上下表皮,形成黄白色袋状膜囊</li>
        <li>受害水稻轻则生长不良,成熟不一致;重则叶片叶肉被吃光,田间一片枯白焦黄,甚至全株枯死,影响水稻产量</li>
        <li>稻铁甲虫一年发生5~6代，以成虫在稻田附近杂草、稻桩、石缝、土隙等场所越冬，也有在高粱、玉米、茭白等残株叶鞘内过冬。</li>
        <li>春暖时，越冬成虫迁移到杂草或麦田取食嫩叶，秧田期迁害秧苗，并交尾产卵。卵散产在秧尖组织内，并随秧苗带到本田。</li>
        <li>初孵幼虫潜居叶片组织中，啃食叶肉，剩留上下表皮，形成黄白色袋状膜囊。幼虫有迁移为害的习性。</li>
        <li>老熟幼虫在膜囊中化蛹。羽化的成虫破膜飞出。</li>
        <li>成虫在夜间或早晨多在叶面取食，白天栖息在叶片背面。</li>
        <li>成虫有假死性，一遇惊动立即跌落，并能随流水漂流传播</li>
    </ol>
    <h5 class="DiseasesTitle">发病条件</h5>
    <p class="article">
        江西、湖南、湖北、浙江一年生3代；广东4～6代，以成虫在避风向阳的沟边杂草根际越冬。
        翌年春转暖时开始活动。先在杂草、茭白、麦类上取食，秧苗现青后逐渐转移至秧田，以后随秧苗移栽带入本田，以苗期和分蘖期受害较重
    </p>
    <h5 class="DiseasesTitle">防治方法</h5>
    <ol class="article">
        <li>农业防治</li>
        <ul>
            <li style="list-style-type: square">最大限度地压低越冬虫口，减少虫源</li>
            <ul>
                <li>铲除越冬寄主，减少越冬虫源</li>
                <li>春季耕翻土壤，铲除田边、沟边杂草，及时引水灌田，破坏越冬场所，减少越冬虫源</li>
            </ul>
            <li style="list-style-type: square">合理施肥,科学用水,增施磷、钾肥,控制叶色过浓,增强植株抗性</li>
        </ul>
        <li>药剂防治</li>
        <ul>
            <li style="list-style-type: square">重点防治成虫高峰期,若仍有较大发生量,需进一步在低龄幼虫期防治</li>
            <li style="list-style-type: square">秧田每平方米有成虫5~10头或本田每百丛有成虫20~25头为化学防治指标</li>
            <li style="list-style-type: square">每公顷可用50%杀螟硫磷乳油450~750mL、18%杀虫双水剂1350~1800mL、25%杀虫双水剂300、80%敌敌畏乳油1500~1800mL对水675~900L喷雾</li>
            <li style="list-style-type: square">防治幼虫,每公顷用90%敌百虫可溶粉剂675~900g对水675~900L喷雾效果较好</li>
            <li style="list-style-type: square">在发生严重地区,按不同地段适期早播诱集田,以诱集大批越冬成虫,然后集中消灭</li>
        </ul>
    </ol>
    <h5 class="DiseasesTitle">图例</h5>
    <p class="article"></p>
    <h5>参考资料</h5>
    <ul>
        <li><a href="https://baike.baidu.com/item/稻铁甲虫/1621876" target="_blank">百度百科：稻铁甲虫</a></li>
        <li><a href="https://zhuanlan.zhihu.com/p/375108872"  target="_blank">知乎：病虫害科普丨稻铁甲虫的危害与防治</a></li>
        <li><a href="https://cn.agropages.com/bcc/Bdetail-146.htm"  target="_blank">中国农化网：水稻稻铁甲虫</a></li>
        <li><a href="https://www.xiaonongyou.com/bingchonghai/250.html"  target="_blank">小农友：水稻稻铁甲虫</a></li>
        <li><a href="https://www.gengzhongbang.com/article-223209-1.html"  target="_blank">耕种帮种植网：稻铁甲虫</a></li>
        <li><a href="https://www.pwsannong.com/c/2016-04-13/550237.shtml"  target="_blank">智汇三农：稻铁甲</a></li>
    </ul>
</body>
</html>