<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tungro</title>
</head>
<body>
    <h4>水稻东格鲁病毒病（RTSV）</h4>
    <h5 class="DiseasesTitle">发病部位</h5>
    <p class="article">主要为叶片，或植株矮缩</p>
    <h5 class="DiseasesTitle">发病特征</h5>
    <ol class="article">
        <li>主要发生在我国南方稻区。受害植株矮缩和叶片变色，生长衰退，叶片颜色为橙色至黄色</li>
        <li>叶片变色常自叶端开始，扩展或不扩展至叶片下部，嫩叶可能出现斑驳</li>
        <li>籼稻染病多为橙色或稍带红色</li>
        <li>粳稻染病多呈黄色。嫩叶上现斑驳，老叶上现锈色斑点</li>
        <li>植株矮缩</li>
    </ol>
    <h5 class="DiseasesTitle">发病条件</h5>
    <p class="article">
        病毒由二小点叶蝉(Nephotettix impictceps)、二点黑尾叶蝉、黑尾叶蝉等，以半持久方式传播，接触或汁液摩擦不能传播，二小点叶蝉最短获毒或接毒时间分别为30分钟和15分钟。
        接毒后经6～9天潜育即显症。该病毒在虫体内循回期不明显，传毒时间为5～7天，7天后不再传毒。二小点叶蝉传毒率很高，其他叶蝉传毒率不高，有的不传毒，品种间抗病性有差异
    </p>
    <h5 class="DiseasesTitle">防治方法</h5>
    <ol class="article">
        <li>选用抗(耐)病品种 如国际26、Ptb18、IR30、IR34、Habigank、DW8、赤块矮3号、四优30、汕优30和威优30等</li>
        <li>要成片种植，防止叶蝉在早、晚稻和不同熟性品种上传毒。早稻早收，避免虫源迁入晚稻。收割时要背向晚稻</li>
        <li>加强管理，促进稻苗早发，提高抗病能力</li>
        <li>推广化学除草，消灭看麦娘等杂草，压低越冬虫源</li>
        <li>
            治虫防病。及时防治在稻田繁殖的第一代若虫，并要抓住黑尾叶蝉迁飞双季晚稻秧田和本田的高峰期，把虫源消灭在传毒之前。
            可选用25%噻嗪酮可湿性粉剂，每667m225g或35%速虱净乳油100ml、25%速灭威可湿性粉剂100g，对水50L喷洒，隔3-5天1次，连防1-3次
        </li>
        <li>
            在发病重的地区，要注意防治二小点叶蝉等传毒介体，以减少其传毒机率。
            治虫防病，切实把黑尾叶蝉消灭于传毒前。杀虫药剂可用25%喹硫磷或40%乐果1000～1500倍稀释液，或菊酯类农药5000倍稀释液喷雾。
            每亩用10%叶蝉散可湿性粉剂200克，或每亩用25%速灭威可湿性粉剂150克加水50千克喷雾
        </li>
        <li>早稻早收，避免虫源迁入晚稻。收割时要背向晚稻</li>
    </ol>
    <h5 class="DiseasesTitle">图例</h5>
    <p class="article"></p>
    <h5>参考资料</h5>
    <ul>
        <li><a href="https://baike.baidu.com/item/水稻东格鲁病毒病/6603588" target="_blank">百度百科：水稻东格鲁病毒病</a></li>
        <li><a href="https://ricedata.cn/shuidao/dss/consultation/Disease/rice_donggelu.htm"  target="_blank">国家水稻数据中心：水稻东格鲁病毒病</a></li>
        <li><a href="https://cn.agropages.com/bcc/Bdetail-59.htm"  target="_blank">世界农化网：水稻东格鲁病毒病</a></li>
        <li><a href="https://www.59baike.com/a/259075-51"  target="_blank">植保百科：水稻东格鲁病毒病</a></li>
        <li><a href="https://www.gengzhongbang.com/article-7863-1.html"  target="_blank">耕种帮种植网：水稻东格鲁病毒病如何防治？水稻东格鲁病毒病用什么药？</a></li>
        <li><a href="https://m.my478.com/html/201802/49348.html"  target="_blank">农业种植网：水稻东格鲁病毒病</a></li>
    </ul>
</body>
</html>